<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td><span th:text="${course.name}"></span></td>
                <td><span th:text="${course.description}"></span></td>
                <td><span th:text="${course.price}"></span></td>
                <td><span th:text="${course.hours}"></span></td>
            </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
        <p>NAME: <input type="text" th:field="*{name}"/></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name has errors</p>
        
		<p>DESCRIPTION: <input type="text" th:field="*{description}"/></p>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description has errors</p>
        
		<p>PRICE: <input type="number" th:field="*{price}"/></p>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price has errors</p>
        
		<p>HOURS: <input type="number" th:field="*{hours}"/></p>
        <p th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}">Hours has errors</p>
        
		<p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>